<main class="baseScreen">
    <div class="alphaCard login-box">
        <form (submit)="onSubmit()" [formGroup]="registerForm">
            <legend>Register</legend>
            <hr class="hrSeparator">
        <div class="user-box">
            <input type="text" name="" required="" formControlName="username">
            <label>Username</label>
        </div>

        <div class="user-box">
            <input type="password" name="" required="" formControlName="password">
            <label>Password</label>
        </div>

        <div class="user-box">
            <input type="password" name="" required="">
            <label>Confirm password</label>
        </div>

        <div class="user-box">
            <input type="email" name="" required="" formControlName="email">
            <label>E-mail</label>
        </div>

        <button class="leButttttton" type="submit" value="Login" [disabled]="!registerForm.valid">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Register
        </button>
        </form>
    </div>
</main>