<app-header></app-header>
<main>
    <h1>Development team</h1>
    <h3>Contact us on our media</h3>
    <div class="card-container">
        <span class="pro">ADMIN</span>
        <img class="round" src="https://pbs.twimg.com/profile_images/1375867041941454863/kai8kO1x_400x400.jpg" alt="user" />
        <h3>Code Nekomancer</h3>
        <h6>Logroño</h6>
        <p>Fullstack developer and <br/> O-ADA project founder</p>
        <div class="buttons">
            <a href="https://twitter.com/CodeNekomancer">
            <button class="primary ghost">
                Twitter
            </button>
            </a>
            <a href="https://github.com/CodeNekomancer">
            <button class="primary ghost">
                Github
            </button>
            </a>

            <a href="https://twitter.com/CodeNekomancer">
                <button class="primary ghost">
                    E-mail
                </button>
            </a>
            
        </div>
        <div class="skills">
            <h6>Skills</h6>
            <ul>
                <li>Necromancy</li>
                <li>Java</li>
                <li>SQL</li>
                <li>Overthinking</li>
                <li>Angular</li>
                <li>Spring Boot</li>
                <li>HTML5</li>
                <li>SASS</li>
            </ul>
        </div>
    </div>
</main>
