<main class="adaWipContainer">
    <h1 class="adaMainWip adaBig">Work In Progress</h1>
    <h2 class="adaSubWip">This page is currently being developed</h2>

    <!-- yup, virtually every link is SPAM to my twitter or github account -->
    <p class="adaBaseWip">
        Thank you for using our services. If you wanna help with the development of the application considere donating to the developpers <a href="https://twitter.com/CodeNekomancer">here</a>.
        <br> <br>
        You can contact us on our media clicling here ;)
        <a href="https://twitter.com/CodeNekomancer">
            <img src="https://img-premium.flaticon.com/png/512/733/733579.png?token=exp=1622231413~hmac=ad12fbfbc1a738051e943ea5be5b29e2" alt="Twitter">
        </a>
    </p>
</main>