<header class="text-white">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="pt-table desktop-768">
            <div class="pt-tablecell page-home relative">
            <div class="overlay"></div>
    
            <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                <div class="page-title  home text-center">
                    <span class="logoBIG">A DA
                    </span>
                    <p class="mt-20">Ogame Advanced Data Analisys</p>
                </div>
    
                <div class="hexagon-menu clear" (click)="logOut()">
                    <div class="hexagon-item">
                    <div class="hex-item">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="hex-item">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="hex-content">
                        <span class="hex-content-inner">
                        <span class="icon">
                            <i class="fa fa-universal-access"></i>
                        </span>
                        <span class="title">Logout</span>
                        </span>
                        <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path>
                        </svg>
                    </div>
                    </div>

                    <div class="hexagon-item">
                    <div class="hex-item">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="hex-item">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <a href="https://enationalelectronics.com" target="_blank" class="hex-content">
                        <span class="hex-content-inner">
                        <span class="icon">
                            <i class="fa fa-bullseye"></i>
                        </span>
                        <span class="title">General</span>
                        </span>
                        <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path>
                        </svg>
                    </a>
                    </div>

                    <div class="hexagon-item">
                    <div class="hex-item">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="hex-item">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <a href="https://enationalelectronics.com" target="_blank" class="hex-content">
                        <span class="hex-content-inner">
                        <span class="icon">
                            <i class="fa fa-braille"></i>
                        </span>
                        <span class="title">Recolector</span>
                        </span>
                        <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path>
                        </svg>
                    </a>
                    </div>

                    <div class="hexagon-item">
                    <div class="hex-item">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="hex-item">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <a href="https://enationalelectronics.com" target="_blank" class="hex-content">
                        <span class="hex-content-inner">
                        <span class="icon">
                            <i class="fa fa-id-badge"></i>
                        </span>
                        <span class="title">ADAcc</span>
                        </span>
                        <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path>
                        </svg>
                    </a>
                    </div>

                    <div class="hexagon-item">
                    <div class="hex-item">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="hex-item">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <a href="https://enationalelectronics.com" target="_blank" class="hex-content">
                        <span class="hex-content-inner">
                        <span class="icon">
                            <i class="fa fa-life-ring"></i>
                        </span>
                        <span class="title">FAQ</span>
                        </span>
                        <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path>
                        </svg>
                    </a>
                    </div>

                    <div class="hexagon-item">
                    <div class="hex-item">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="hex-item">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <a href="https://enationalelectronics.com" target="_blank" class="hex-content">
                        <span class="hex-content-inner">
                        <span class="icon">
                            <i class="fa fa-clipboard"></i>
                        </span>
                        <span class="title">Descubridor</span>
                        </span>
                        <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path>
                        </svg>
                    </a>
                    </div>

                    <div class="hexagon-item">
                    <div class="hex-item">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="hex-item">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <a href="https://enationalelectronics.com" target="_blank" class="hex-content">
                        <span class="hex-content-inner">
                        <span class="icon">
                            <i class="fa fa-map-signs"></i>
                        </span>
                        <span class="title">Contacto</span>
                        </span>
                        <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path>
                        </svg>
                    </a>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
        
        <div class="bg-dark p-4">
            <h5 class="text-white h4">Collapsed content</h5>
            <span class="text-muted">Toggleable via the navbar brand.</span>
    
            <div class="rightNavBoi text-end">
                <button type="button" class="btn btn-outline-light" (click)="logOut()">Logout</button>
            </div>
        </div>
    </div>

    <nav class="justify-content-between navContainer navbar-dark">
        <div class="d-flex">
            <a href="/" class="text-decoration-none">
                <p class="logo">A DA</p>
            </a>
    
            <div class="vSeparator"><span></span></div>
    
            <div class="adaccDisplayContainer">
                <p>ADAcc:<br>@CodeNekomancer</p>
            </div>
        </div>
    
        <div class="d-flex">
            <div class="rightNavBoi pseudoButton">
                <p>Selecting universe</p>
            </div>
    
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>